{% extends "base.html" %}

{% block title %}About Us - Our Organization{% endblock %}

{% block content %}
<section class="about-header">
    <h1>About Bichi Healthier Community, Awareness, Prevention and Support Initiative (BHCAPSI) </h1>
    <p class="subtitle">Learn about who we are, what we value, and how we operate.</p>
</section>

<section class="about-content">
    <article>
        <h2>Who We Are</h2>
        <p>Is a proposed community-based, non-profit organization established to contribute to the prevention of world pandemics disease (like HIV) and improvement of the health and wellbeing of individuals, families and communities in Bichi Local Government Area of Kano State.</p>
    </article>

    <article>
        <h2>Our Core Values</h2>
        <ul>
            <li><strong>Effective Community Action :</strong> Involves increasing access to accurate information, encouraging appropriate prevention practices.</li>
            <li><strong>Promotion:</strong> Promoting testing and early linkage to care, reducing stigma and discrimination.</li>
            <li><strong>Community Support:</strong> Supporting people living with pandemic and affected families.</li>
        </ul>
    </article>
</section>
{% endblock %}